.scatter {
  padding: 0 20px 60px 20px;
  height: calc(100% - 20px);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  left: 0%;
  position: absolute;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
  opacity: 0;

  &.enteringBefore {
    top: -20%;
  }
  &.enteringAfter {
    top: 20%;
  }
  &.entered {
    top: 0%;
    opacity: 1;
  }
  &.exitingBefore {
    top: -20%;
  }
  &.exitingAfter {
    top: 20%;
  }
  &.exitedBefore {
    top: -20%;
  }
  &.exitedAfter {
    top: 20%;
  }
}

.chart {
  flex: 1;
  overflow: hidden;
  background: #EEE;
}

.toggler {
}

.top {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  background: #DDD;
}

.toggles {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  flex-direction: row;
}
