.scatter {
  padding: 0 20px 60px 20px;
  height: calc(100% - 20px);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  left: 0%;
  position: absolute;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
  opacity: 0;

  &.enteringBefore {
    left: -20%;
  }
  &.enteringAfter {
    left: 20%;
  }
  &.entered {
    left: 0%;
    opacity: 1;
  }
  &.exitingBefore {
    left: -20%;
  }
  &.exitingAfter {
    left: 20%;
  }
  &.exitedBefore {
    left: -20%;
  }
  &.exitedAfter {
    left: 20%;
  }
}

.chart {
  flex: 1;
}

.toggler {
}

.top {
  display: flex;
  flex-direction: row;
}

.toggles {
  display: flex;
  flex-direction: row;
}
