.intro {
  max-width: 600px;
  margin: 0 auto;

  h1 {
    transition-duration: 1000ms;

    &:last-child {
      transition-delay: 0.8s;
    }
  }

  &.entering {
    h1 {
      opacity: 0;
      padding-top: 20px;
    }
  }

  &.entered {
    h1 {
      opacity: 1;
      padding-top: 0px;
    }

    .toggler {
      opacity: 1;
    }
  }

  &.exiting, &.exited {
    h1 {
      &:last-child {
        transition-delay: 0.0s;
      }
    }
  }

  &.exiting {
    h1 {
      opacity: 1;
      padding-top: 20px;
    }
  }

  &.exited {
    h1 {
      opacity: 0;
      padding-top: 20px;

      &:last-child {
        padding-top: 0;
      }
    }
  }
}

.toggler {
  transition-duration: 1000ms;
  position: absolute;
  margin-left: 800px;
  opacity: 0;

  &.color {
    margin-top: 100px;
  }
}
