.datum {
  left: 0%;
  top: 160px;
  width: 100%;
  position: absolute;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
  opacity: 0;

  &.enteringBefore {
    left: -20%;
  }
  &.enteringAfter {
    left: 20%;
  }
  &.entered {
    left: 0%;
    opacity: 1;
  }
  &.exitingBefore {
    left: -20%;
  }
  &.exitingAfter {
    left: 20%;
  }
  &.exitedBefore {
    left: -20%;
  }
  &.exitedAfter {
    left: 20%;
  }
}

.container {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

.pointContainer {
  float: left;
  margin-right: 20px;
  height: 300px;
}

.textContainer {
  float: left;
}

.point {
  $size: 50px;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: $size;
  height: $size;
  width: $size;
}

.person {
  float: right;
  margin-left: 20px;
}
